body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h3 {
    color: darkred;
}

a {
  color: dodgerblue;
}

dt {
    font-weight: bold;
    color: green;
    display: inline;
}

dt::after {
    content: ': ';
}

dd {
    margin: 0;
    display: inline;
}